.login-page {
  background-color: blue;
  background: url('../../assets/login-image.jpg') no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
}